{% extends 'base.html' %}

{% block content %}
<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid dashboard-default-sec">
        <div class="row">
            <div class="col-xl-12 recent-order-sec">
                <div class="card">
                  <div class="card-body">     
                     <h5>Create Marriage License</h5>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <br>
                                <button class="btn btn-primary" style=" color:white " type="submit">Submit</button>
                            </form>
                  </div>   
                </div>
            </div>        
        </div>  
    </div>
</div>        
{%  endblock  %}
